.Info{
  flex: 1;
justify-content: center;
flex-direction: column;
width: auto;
align-items: center;
}

.intro {
  flex: 1;
justify-content: center;
flex-wrap: wrap;
flex-direction: column;
width: 100%;
}

.What_is_DAO {
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.members {
  flex: 1;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.DFM {
  flex: 1;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.structure {
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: auto;

}

.CP_Blockchain {
  flex: 1;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;


}

.CP_Structure {
  flex: 1;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.Notio {
  flex: 1;
  margin-bottom: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.EPMS {
  flex: 1;
  margin-bottom: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.PoA {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.ChaosCasino {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.DC_Depot {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;

}
.papers {
  flex: 1;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.DC_Contract_Structure {
  flex: 1;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.CIB_EPMS{
  flex: 1;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.JoinCore {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;

}

.Donate {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.QRcode{
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.WhatIs{
  display: flex;
  justify-content: center;
  align-self: center;
}

.WhatIs img {
  max-width: 30%;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.mems{
  display: flex;
  justify-content: center;
  align-self: center;
}

.mems img {
  max-width: 30%;
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.smart_contract{
  display: flex;
  justify-content: center;
  align-self: center;
}

.smart_contract img {
  max-width: 30%;
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-self: center;
}
