

body {
  background-color: #0c2033;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  letter-spacing: .5px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
  width: 1060px;
  padding: 0px;
}

.SideBar {
  max-width: 15%;
  list-style: none;
  background-color: gray;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex: .2;
  justify-content: space-between;
  flex-direction: row;

}

ol {
  list-style: none;
}

.MemDash {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
  align-items: center;

  flex-direction: row;
}


.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.ProfileInfo {
  max-width: 30%;
  flex: .8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.memberPhoto {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.Profile{
  max-width: 30%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 20px;
}
p {
  font-size: 20px;
}
.DCWallet {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

hr{
  border: 0;
  width: 80%;
  color: #f00;
  background-color: #f00;
  height: 1px;
}
