.outterC {
  flex: 1;
  flex-wrap: wrap;
justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.C1 {
  flex: 1;
  flex-wrap: wrap;
justify-content: space-around;
  align-items: left;
  flex-direction: column;
  width: auto;
}

.C2 {
  flex: 1;
  flex-wrap: wrap;
justify-content: space-around;
  align-items: right;
  flex-direction: column;
  width: auto;

}

.About{
  height: 100px !important;
  width: auto;
}
