



.NavSideBar {
  background-color: gray;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex: .2;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}

.DisplayItemIPFS {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
flex-direction: row;
align-items: center;
max-width: 40%;
max-height: 40%;
}
