.IdeaList{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
justify-content: space-between;
flex-direction: row;
}

.item-details{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
justify-content: space-between;
flex-direction: row;
}

.prop-detail{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
justify-content: space-between;
flex-direction: row;
}

.ipfsHash{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
justify-content: space-between;
flex-direction: row;
}
