
    .footer {
      flex: 1;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: auto;
      background-color: gray;
      flex-direction: column;

    }
