

nav ul {
  list-style: none;
  background-color: #111314;
  margin-bottom: 10px;
  margin-top: 10px;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav ul li {
  flex: 1;
align-items: center;
justify-content: center;
align-items: center;
padding-left : 0px;
padding-right : 30px;
padding-top : 10px;
padding-bottom : 15px;
}

nav ul li a {
  color: darkred;
  text-shadow: black 4px;
  font-size: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none
}



.Navbar {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 50px;
  background-color: #111314;
  flex-direction: column;
  position: top;
  top: 100%;
}

.container {
  position: relative;
  display: inline-block;
  justify-content: space-between;
  align-items: left;
}

.container2 {
  position: relative;
  display: inline-block;
  justify-content: space-between;
  align-items: right;
}

.container3 {
  position: inherit;
  display: inline-block;
  justify-content: space-between;
  align-items: right;
  flex-wrap: wrap;
}
.button {
  padding: 10;
  width: auto;
  border: 1px;
  background-color: #111314;
  color: #3c3c3d;
  cursor: pointer;
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
}

.dropdown {
  top: 100%;
  width: auto;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.NavLink {
  padding: 10;
  width: 100%;
  border: 0;
  background-color: #111314;
  color: #3c3c3d;
  cursor: pointer;
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
}
