body {
  background-color: #0c2033;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  letter-spacing: .5px;
  font-size: 16px;
  font-weight: 300;

}

.IdeaList {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
justify-content: space-between;
flex-direction: row;

}

.prop-detail {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid silver;
  border-radius: 20px;
  width: 400px;
  height: 500px;
}

.ipfsHash {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1vw;
}

.idea-details{
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;

}

@media only screen and (max-width: 720px) {
  .idea-details{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;

  }

  .ipfsHash {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size:2vw;
  }

}
