

body {
  background-color: #0c2033;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  letter-spacing: .5px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
  width: 1060px;
  padding: 0px;
}

.container {
   text-align:center;

}
